<div [formGroup]="loginForm">
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email Id</mat-label>
      <input matInput formControlName="userId" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
  </div>
</div>

<div>
  <button
    [disabled]="loginDisabled()"
    mat-raised-button
    (click)="login()"
    color="primary"
  >
    Login
  </button>
</div>

{{ loginForm.value | json }}
