<mat-toolbar color="primary">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <h2>My Reminders</h2>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img
      style="height: 100px; border-radius: 1333px"
      class="avatar mat-elevation-z8"
      src="https://avatars.githubusercontent.com/u/3106320?v=4"
    />
    <h4 class="name">Zulfiqar Syed</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="">
      <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="contacts">
      <span>Contacts</span>
    </button>

    <button mat-button class="menu-button" routerLink="reminders">
      <span>Reminders</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="">
      <span>Login</span>
    </button>

    <button mat-button class="menu-button" routerLink="">
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
