<mat-toolbar color="primary">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <h2>My Reminders</h2>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div *ngIf="afAuth.authState | async as user">
      <img
        style="height: 100px; border-radius: 1333px"
        class="avatar mat-elevation-z8"
        src="{{ user.photoURL }}"
      />
      <h4 class="name">{{ user.displayName }}</h4>
      <mat-divider></mat-divider>
    </div>

    <button mat-button class="menu-button" routerLink="">
      <span>Home</span>
    </button>

    <button
      *ngIf="afAuth.authState | async"
      mat-button
      class="menu-button"
      routerLink="contacts"
    >
      <span>Contacts</span>
    </button>

    <button
      *ngIf="afAuth.authState | async"
      mat-button
      class="menu-button"
      routerLink="reminders"
    >
      <span>Reminders</span>
    </button>

    <mat-divider></mat-divider>

    <button
      mat-button
      class="menu-button"
      *ngIf="(afAuth.authState | async) === null"
      (click)="login()"
    >
      <span>Login</span>
    </button>

    <button
      mat-button
      class="menu-button"
      *ngIf="afAuth.authState | async"
      (click)="logout()"
    >
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
