<div>testing async pipe = {{ stream$ | async }}</div>
<div>testing async pipe = {{ stream1 | async }}</div>
<div>testing async pipe = {{ stream2 | async }}</div>
<div appHighlight [color]="'cyan'">
  Form Value - trying hovering: {{ registrationForm.value | json }}
</div>
<div>Form valid: {{ registrationForm.valid }}</div>

<div [formGroup]="registrationForm">
  <div *ngFor="let control of formData.controls">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ control.label }}</mat-label>
        <input
          matInput
          [formControlName]="control.name"
          value="{{ control.value }}"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<div>
  <button
    [disabled]="disableRegister()"
    mat-raised-button
    (click)="register()"
    color="primary"
  >
    Register
  </button>
</div>

<div appHighlight [color]="'green'" (highlighted)="myhandler()">
  <p>This is a register page for the user.</p>
</div>
