<div>Form Value: {{ registrationForm.value | json }}</div>
<div>Form valid: {{ registrationForm.valid }}</div>
<div [formGroup]="registrationForm">
  <div *ngFor="let control of formData.controls">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ control.label }}</mat-label>
        <input
          matInput
          [formControlName]="control.name"
          value="{{ control.value }}"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<div>
  <button mat-raised-button (click)="register()" color="primary">
    Register
  </button>
</div>
